%h1 Listing genres
%table
  %thead
    %tr
      %th ID
      %th Genre name
      %th User ID
      %th
      %th
      %th
  %tbody
    - @genres.each do |genre|
      %tr
        %td= genre.id
        %td= genre.genre_name
        %td= genre.user_id
