/ Section Tagline
%section#section-tagline.section-page
  .container
    %h2 Welcome to Ceedee!
    %p CeeDee is an easy to use web front-end for tracking music collections.  What are you waiting for?  Navigate to the drop-down menu in the upper-right corner and start adding your music now!
/ Section Services
%section#section-services.section-page
  .container
    .head-section
      %h1 Services
    / /.head-section
    %br/
    %br/
    .row
      %article.col-md-4.services-box
        .services-icon
          .center-icon
            %i.fa.fa-music.fa-7x
        %h4 Give Life Back To Music
        %p Give life back to the music.  CeeDee builds on the boring, text-based CD databases of years past and attempts to provide elegant solution to the problem of ever-growing music libraries.  Accessible from any modern web browser, CeeDee moves as fast as its users.  We’re here for you when you need us.
      / /#service_1
      %article.col-md-4.services-box
        .services-icon
          .center-icon
            %i.fa.fa-globe.fa-7x
        %h4 Integration
        %p With the help of the Spotify API, we are excited to present added details that make CeeDee stand out from alternative music database solutions.  From album name auto-completion to detailed music meta-data, CeeDee not only tracks music collections through a text database, but also presents album art, track numbers, and track lengths to the user, building a positive experience of human-database interaction.

      / /#service_2
      %article.col-md-4.services-box
        .services-icon
          .center-icon
            %i.fa.fa-list.fa-7x
        %h4 Power Without The Price
        %p CeeDee works with a database seamlessly.  We eliminated the need for any ugly search fields, and a user navigating through the site queries the database automatically behind-the-scenes.  We hide the implementation, and only show the user what they want to see.  CeeDee gives the user the option to easily select a user account to view, and options to sort music collections by album name, artist name, genre, and release year.

/ Section Team
%section#section-team.section-page
  .container
    .head-section
      %h2 Our Team
    / /.head-section
    %br/
    .row
      .person.col-md-6
        = image_tag("dan.jpg", class: "person-avatar img-circle", width: "150", height: "150", alt: "Daniel Garzon" )
        %h4.person-name Daniel Garzon
        %span.person-skills Developer / UI & UX Design
        %hr
        %ul.list-links-social
          %li
            %a{href: "http://www.twitter.com/danielgarzon"}
              %i.fa.fa-twitter
          %li
            %a{href: "http://www.facebook.com/dgarzon"}
              %i.fa.fa-facebook
          %li
            %a{href: "http://www.linkedin.com/in/dgarzon5"}
              %i.fa.fa-linkedin
          %li
            %a{href: "http://www.github.com/dgarzon"}
              %i.fa.fa-github
        / /#list-links-social
      / /#person_1
      .person.col-md-6
        = image_tag("josh.jpg", class: "person-avatar img-circle", width: "150", height: "150", alt: "Josh Lieberman" )
        %h4.person-name Josh Lieberman
        %span.person-skills Developer
        %hr
        %ul.list-links-social
          %li
            %a{href: "http://www.twitter.com/JALsnipe"}
              %i.fa.fa-twitter
          %li
            %a{href: "https://www.facebook.com/josh.lieberman92"}
              %i.fa.fa-facebook
          %li
            %a{href: "https://www.linkedin.com/pub/josh-lieberman/25/244/32"}
              %i.fa.fa-linkedin
          %li
            %a{href: "http://www.github.com/JALsnipe"}
              %i.fa.fa-github
        / /#list-links-social
      / /#person_3