.well.well-search{"align" => "center"}
  %h1 Add Album to Collection
  %hr
  = simple_form_for @album do |f|
    = f.input :spotify_id, :as => :hidden, :input_html => {:id => "spotify-id"}
    .input-group.input-group-lg
      %span.input-group-addon
        %i.fa.fa-download
      = f.text_field :query, :placeholder => 'Search', :id => 'spotify-album-search', :class => 'form-control input-lg'
    %hr
      .actions
        = f.submit 'Continue', :class => 'btn btn-primary btn-lg', :id => "add-album"

:javascript
  $(function() {
    $('#spotify-album-search').autocomplete({
      source:
        function (query, process) {
          $.when(
            $.ajax({
                url: 'http://ws.spotify.com/search/1/album.json?q=' + query.term,
            })
          ).then(function (data) {
            process($.map(data.albums.slice(0, 4), function(item) {
              // $.when (
              //   $.ajax({
              //       url: 'https://embed.spotify.com/oembed/?url=' + item.href,
              //       dataType: 'jsonp'
              //   })
              // ).then(function (image) {
                // Input: The Rolling Stones
                // console.log(item.artists[0].name + ' - ' + item.name + ': ' + image.thumbnail_url);
                // Console: The Rolling Stones - Let It Bleed: https://d3rt1990lpmkn.cloudfront.net/cover/91205a1c80960d7055f8ed1bbe022f195e1767a4
                return { label: item.artists[0].name + ' - ' + item.name, album: item, href: item.href};
              // });
            }));
          });
      },
      select: function (e, ui) {
        console.log("selected= " + ui.item.href);
        $('#spotify-id').val(ui.item.href);
      },
      messages: {
        noResults: '',
        results: function() {}
      }
    })
    .data('ui-autocomplete')._renderItem = function(ul, item) {
      return $('<li></li>')
          .data( "ui-autocomplete-item", item)
          // .append('<a>' + item.label + '<img src="' + item.image + '" alt="" />' + '</a>')
          .append('<a>' + item.label  + '</a>')
          .appendTo(ul);
    };
  });