.row
  #bands-sidebar.col-md-3
    %ul#sidebar.nav.nav-stacked.affix
      - @bands.each do |band|
        %li
          = link_to "#{band.band_name}", user_band_path(@user, band), remote: true
  .col-md-9
    #bands-albums.packery

:coffee
  reloadPackery = ->
    container = document.querySelector(".packery")
    pckry = new Packery(container,
      columnWidth: 300
      gutter: 20
      isResizeBound: false
      transitionDuration: "0.8s"
    )

    $container = $(".packery")
    gutter = 20 or 0
    columnWidth = 320

    return

  jQuery ->
    $(this).bind "ajax:success", ->
      reloadPackery()
