// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "partials/colors";

.item {
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
  background: #fff;
  width: 300px;

  a {
    color: $gray;
    &:hover {
      color: $gray-dark;
      text-decoration: none;
    }
  }
  .album-artist {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    padding-left: 0.4em;
  }
  .album-name {
    padding-left: 0.3em;
  }
  .item-subnav {
    padding-top: 10px;
    font-size: 1.1em;
    li {
      display: inline;
      list-style-type: none;
      padding-right: 20px;
    }
  }
}

.packery {
  width: 80%;
  margin: 0 auto;
}

/* clearfix */
.packery:after {
  content: ' ';
  display: block;
  clear: both;
}

.detail-band {
  margin-top: 0.5em;
  margin-bottom: 0px;
}

.detail-album {
  margin-top: 0.3em;
}

.detail-image {
  img {
    width: 100%;
  }
}

.detail-subnav {
  padding-top: 10px;
  font-size: 1.1em;
  li {
    display: inline;
    list-style-type: none;
    padding-left: 20px;
  }
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.detail-subnav {
  height: 35px;
}

.detail-subnav-container {
  width: 100%;
  height: 28px;
}

.detail-comment-header {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Open Sans";
}

.detail-comment-description {
  padding-top: 10px;
}

.detail-comment-container {
  min-height: 30px;
}