@import 'partials/colors';
@import "partials/variables";
@import "font-awesome";
@import "compass/css3/border-radius";

body {
  background-color: $clouds;
}

@import "bootstrap";

// Container
.container {
  margin-top: 40px;
  padding-top: 20px;
}

// Navbar
.navbar-brand {
  font-size:1.4em;

  .brand-text {
    padding-left: 0.2em;
  }
}

.dropdown-toggle {
  .fa.fa-user {
    font-size: 1.2em;
  }
}

.navbar .divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-right: 1px solid lighten($brand-primary, 5%);
  border-left: 1px solid lighten($brand-primary, 3%);
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

// Autocomplete
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  list-style: none;
  background-color: #ffffff;
  border-color: $gray-light;
  border-style: solid;
  border-width: 1px;

  @include border-corner-radius(top, right, 5px);
  @include border-corner-radius(bottom, right, 5px);
  @include border-corner-radius(bottom, left, 5px);

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: $gray;
    white-space: nowrap;
    min-height: 50px;

    &:hover {
      color: $gray-dark;
      text-decoration: none;
      background-color: $gray-lighter;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }

    &:active {
      color: $gray-dark;
      text-decoration: none;
      background-color: $gray-lighter;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

.well-search {
  max-width: 600px;
  margin: 0 auto;
}

.ui-autocomplete {
  vertical-align:middle;

  .ui-menu-item {
    vertical-align:middle;
    border-bottom: 1px solid $gray-lighter;

    .ui-autocomplete-icon {
      vertical-align:middle;

      i {
          display:inline-block;
          font-size: 2em;
          line-height: 2em;
          text-align: center;
          vertical-align: bottom;
          color: $brand-success;
      }
    }

    .ui-autocomplete-artist {
      font-weight: bold;
      font-size: 1.2em;
      height:55px;
      line-height:55px;
      padding-left: 0.6em;
    }

    .ui-autocomplete-album-name {
      font-size: 1.2em;
      height:55px;
      line-height:55px;
    }

    .ui-autocomplete-divider {
      padding-right: 0.5em;
      padding-left: 0.5em;

      i {
        font-size: 0.7em;
      }
    }
  }
}