@import 'partials/colors';
@import "partials/variables";
@import "font-awesome";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "bootstrap";

$azerin: #e74c3c;

body {
  background-color: $clouds;
  color: $gray;
}

.has-error .form-control {
  border-color: $azerin;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.input-group .form-control:not(:first-child):not(:last-child) {
  @include border-corner-radius(top, right, 5px);
  @include border-corner-radius(bottom, right, 5px);
}

.has-error .form-control:focus {
  border-color: darken($azerin, 20%);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px lighten($azerin, 20%);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px lighten($azerin, 20%);
}

.has-error .input-group-addon {
  color: darken($azerin, 20%);
  border-color: darken($azerin, 20%);
  background-color: $azerin;
}

.has-success .form-control {
  border-color: $brand-success;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .form-control:focus {
  border-color: darken($brand-success, 20%);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px lighten($brand-success, 20%);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px lighten($brand-success, 20%);
}

.has-success .input-group-addon {
  color: darken($brand-success, 20%);
  border-color: darken($brand-success, 20%);
  background-color: $brand-success;
}

.navbar {
  margin-bottom: 0px;
}


// Container
.container {
  // margin-top: 60px;
  padding-top: 20px;
}

#sub-wrapper {
  margin-bottom: 30px;
}

// Navbar
.navbar-brand {
  font-size:1.4em;

  .brand-text {
    padding-left: 0.2em;
  }
}

.dropdown-toggle {
  .fa.fa-user {
    font-size: 1.2em;
  }
}

.navbar .divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-right: 1px solid lighten($brand-primary, 5%);
  border-left: 1px solid lighten($brand-primary, 3%);
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

// Autocomplete
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  list-style: none;
  background-color: #ffffff;
  border-color: $gray-light;
  border-style: solid;
  border-width: 1px;

  @include border-corner-radius(top, right, 5px);
  @include border-corner-radius(bottom, right, 5px);
  @include border-corner-radius(bottom, left, 5px);

  @include box-shadow(rgba(0, 0, 0, 0.2) 0px 5px 10px);

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: $gray;
    white-space: nowrap;
    min-height: 50px;

    &:hover {
      color: $gray-dark;
      text-decoration: none;
      background-color: $gray-lighter;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }

    &:active {
      color: $gray-dark;
      text-decoration: none;
      background-color: $gray-lighter;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

.well-search {
  max-width: 600px;
  margin: 0 auto;
}

.ui-autocomplete {
  vertical-align:middle;

  .ui-menu-item {
    vertical-align:middle;
    border-bottom: 1px solid $gray-lighter;

    .ui-autocomplete-icon {
      vertical-align:middle;
      padding-left: 1em;

      i {
          display:inline-block;
          font-size: 2em;
          line-height: 2em;
          text-align: center;
          vertical-align: bottom;
          color: $brand-success;
      }
    }

    .ui-autocomplete-artist {
      font-weight: bold;
      font-size: 1.2em;
      height:55px;
      line-height:55px;
      padding-left: 0.6em;
    }

    .ui-autocomplete-album-name {
      font-size: 1.2em;
      height:55px;
      line-height:55px;
    }

    .ui-autocomplete-divider {
      padding-right: 0.5em;
      padding-left: 0.5em;

      i {
        font-size: 0.7em;
      }
    }
  }
}

.input-group {
  margin-top: 0.8em;
}

.fa-tag {
  padding-right: 2px;
}

// Sidebar
.affix-top,.affix{
  position: static;
}

#sidebar {
  background-color: white;
  @include border-radius(5px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);

  li {
    a {
      &:hover {
        background-color: $clouds;
      }
    }
  }
}
@media (min-width: 979px) {

  #sidebar.affix {
    position: fixed;
    top:120px;
    width:228px;
  }
}

#back-link {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

ul.parsley-error-list {
    display:none !important;
}

ul.parsley-error-list li {
    display:none !important;
}

.fa-7x {
  font-size: 7em;
}
