.row
  #years-sidebar.col-md-3
    %ul#sidebar.nav.nav-stacked.affix
      - @years.each do |year|
        %li
          = link_to "#{year.year_value}", user_year_path(@user, year), remote: true
  .col-md-9
    #years-albums.packery

:coffee
  reloadPackery = ->
    container = document.querySelector(".packery")
    pckry = new Packery(container,
      columnWidth: 300
      gutter: 20
      isResizeBound: false
      transitionDuration: "0.8s"
    )

    $container = $(".packery")
    gutter = 20 or 0
    columnWidth = 320

    return

  jQuery ->
    $(this).bind "ajax:success", ->
      reloadPackery()