#sub-wrapper
  %ul.subnav-nav
    %li
      = link_to "Songs", user_albums_path(@user)
    %li
      = link_to "Albums", user_albums_path(@user)
    %li
      = link_to "Artists", user_albums_path(@user)
    %li
      = link_to "Genres", user_albums_path(@user)